<%= form_for(book_new) do |f| %>
	<div class="field">
	  <%= f.label :title %> <br>
	  <%= f.text_field :title, autofocus: true %>
	</div>
	<div class="field">
	 	<%= f.label :opinion %> <br>
	 	<%= f.text_area :body, autofocus: true %>
	</div>
	<div class="field">
		  <%= f.submit "Create Book" ,class:"btn btn-default" %>
	</div>
<% end %>
